@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: none;
}


:root {
    --heading: slategrey;
    --bg: lightgrey;
    --para: #777;
    --white: white;
    --violet: #6F38C5;
    --black: black;
    --btn-shadow: .5rem .5rem .5px var(--violet);

    --gradient: rgb(45, 187, 164);
    -moz-linear:
        gradient(213deg, rgba(45, 187, 164, 1) 0%, rgba(71, 197, 56, 1) 100%);
    -webkit-linear-gradient: (213deg, rgba(45, 187, 164, 1) 0%, rgba(71, 197, 56, 1) 100%);



}


.heading {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

html {
    font-size: 62.5%;
}




.section {
    max-width: 140rem;
    margin: 11rem auto;


}

.container {
    padding: 0 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    max-width: 140rem;
    margin: 0 auto;
}


.img {
    width: 70%;
    /* box-shadow: 1rem 1.5rem 1px var(--violet); */
    box-shadow: -1rem -1rem 1px var(--violet);
}

img:hover,
.img:active {
    transform: scale(1.5);
}


.img-container {
    display: flex;
    justify-content: center;
    background-color: #dbdde2;
    padding: 5rem;
    /* border-radius: 39% 61% 55% 45% / 58% 41% 59% 42%; */

}


.para {
    font-size: 2rem;
    margin: 0px;
    font-weight: 800;
    color: var(--heading);
    line-height: 3rem;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}

.btn-all {
    text-decoration: none;
    background-color: #87A2FB;
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    /* position: absolute; */
    margin-top: 2rem;
    border-radius: 5px;
    text-align: center;
    padding: 1rem 2rem
}



.text {
    font-weight: 700;
    color: var(--black);
}




/*                                              header  Section                                                 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 5rem;
    /* width: 100vw; */
    /* height: 5rem; */
    box-sizing: border-box;
    background-color: var(--black);

}

#logo-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: var(--black);
    color: var(--violet);
}

.un-order {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    flex-wrap: nowrap;

}

.nav-item:link,
.nav-item:visited {

    font-size: 1.65rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    transition: all .2s linear;

}

.nav-item:active,
.nav-item:hover {
    color: var(--violet);
}


/*                                                hero Section                                                   */


#hero--img {
    border-radius: 39% 61% 55% 45% / 58% 41% 59% 42%;

}

#h2name {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--violet);
}

#btn-hire {
    transition: transform .1s linear;
    /* width: 10rem; */

}

#btn-hire:hover,
#btn-hire :active {
    box-shadow: var(--btn-shadow);
    transform: scale(1.25);
}


.div {
    display: flex;
    /* position: relative; */
    ;
}





/*                                                ABOUT Section                                                   */


#about-content-img {
    border-radius: 47% 53% 48% 52% / 58% 41% 59% 42%;
}

#about-heading {
    font-size: 5rem;
    position: relative;
    margin-bottom: 4rem
}

#about-heading::before {
    content: "";
    height: 1.5rem;
    position: absolute;
    width: 1.5rem;
    background-color: var(--violet);
    top: 100%;
    border-radius: 50%;
}

#about-heading::after {
    content: "";
    height: .3rem;
    position: absolute;
    width: 20rem;
    background-color: var(--violet);
    top: 107%;
    left: 1.5rem;
    /* margin-bottom: 2rem; */
}





#about-content-data {
    left: 6rem;
    position: relative;
}

.detail-content {
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#btn-cv {
    transition: transform .1s linear;
}

#btn-cv:hover,
#btn-cv:active {
    box-shadow: var(--btn-shadow);
    transform: scale(1.25);
}

.about-heading {
    height: .6rem;
    position: relative;
    width: 90%;
    background-color: var(--para);
}

.about-heading::before {
    content: "";
    background-color: var(--gradient);
    position: absolute;
    border-radius: 10rem;
    width: 90%;
    top: 0%;
    left: 0%;
    height: inherit;
    z-index: 1;
}

#fourth::before {
    width: 75%;
}

#third::before {
    width: 80%;
}

#second::before {
    width: 70%;
}


.scrol {
    font-size: 2rem;
    font-weight: 1000;
}

/* .about-heading::after {

    content: "";
    background-color: var(--violet);
    border-radius: 10rem;
    width: 80%;
    top: 0%;
    left: 0%;
    position: absolute;
    height: inherit;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
} */